body {
  background-color: #212529;
}

nav {
  border-bottom: 1px solid;
}

.theme-toggle {
  position: absolute;
  right: 5px;
  border: 1px solid #fff;
}

.view-text {
  border: 1px solid #fff;
  min-height: 100px;
  border-radius: 5px;
  padding: .375rem .75rem;
}